/build/
/build-*/
managed_components/
sdkconfig
sdkconfig.old
dependencies.lock
__pycache__/
Official-hardware-examples/
.vscode/
tools/*
!tools/patches/
!tools/patches/*.ps1
!tools/package_initial_flash.py
!tools/package_release.ps1
!tools/generate_fonts.ps1
release/*
!release/RELEASE_NOTES_v*.md
!release/archive/
release/archive/*
!release/archive/firmware-v*.bin
!release/initial/
release/initial/*
!release/initial/printsphere_full.bin
!release/initial/archive/
release/initial/archive/*
!release/initial/archive/printsphere_full-v*.bin
!release/ota/
release/ota/*
!release/ota/printsphere_ota.bin
!release/ota/archive/
release/ota/archive/*
!release/ota/archive/printsphere_ota-v*.bin
!release/beta/
release/beta/*
!release/beta/printsphere_full.bin
!release/beta/printsphere_ota.bin
!release/beta/archive/
release/beta/archive/*
!release/beta/archive/printsphere_full-v*.bin
!release/beta/archive/printsphere_ota-v*.bin
!release/debug/
release/debug/*
!release/debug/printsphere_full.bin
!release/debug/printsphere_ota.bin
!release/debug/archive/
release/debug/archive/*
!release/debug/archive/printsphere_full-v*.bin
!release/debug/archive/printsphere_ota-v*.bin
!release/2.8c/
release/2.8c/*
!release/2.8c/README.md
!release/2.8c/initial/
release/2.8c/initial/*
!release/2.8c/initial/printsphere_full.bin
!release/2.8c/initial/archive/
release/2.8c/initial/archive/*
!release/2.8c/initial/archive/printsphere_full-v*.bin
!release/2.8c/ota/
release/2.8c/ota/*
!release/2.8c/ota/printsphere_ota.bin
!release/2.8c/ota/archive/
release/2.8c/ota/archive/*
!release/2.8c/ota/archive/printsphere_ota-v*.bin
!release/knomi_v2/
release/knomi_v2/*
!release/knomi_v2/README.md
!release/knomi_v2/initial/
release/knomi_v2/initial/*
!release/knomi_v2/initial/printsphere_full.bin
!release/knomi_v2/initial/archive/
release/knomi_v2/initial/archive/*
!release/knomi_v2/initial/archive/printsphere_full-v*.bin
!release/knomi_v2/ota/
release/knomi_v2/ota/*
!release/knomi_v2/ota/printsphere_ota.bin
!release/knomi_v2/ota/archive/
release/knomi_v2/ota/archive/*
!release/knomi_v2/ota/archive/printsphere_ota-v*.bin
*.pyc
*.step
.clangd
*.bak
*.old
